<!DOCTYPE html>
<html>
  <head>
    <title>Your Data Talking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/skel.min.js"></script>
    <script src="/javascripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/javascripts/main.js"></script>
  </head>
  <body class="landing">
    <header id="header" class="alt">
      <a href="#nav">Menu</a>
    </header>
    <nav id="nav">
      <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="generic.html">About</a></li>
        <li><a href="elements.html">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <section id="banner">
      <h2>Your Data Talking</h2>
      <p>Your data is talking. Are you listening?</p>
      <ul class="actions">
        <li><a href="#" class="button big special">Learn More</a></li>
      </ul>
    </section>

  <!-- One -->
    <section id="one" class="wrapper style1">
      <div class="inner">
        <article class="feature left">
          <span class="image"><img src="images/pic01.jpg" alt="" /></span>
          <div class="content">
            <h2>Development</h2>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button alt">More</a>
              </li>
            </ul>
          </div>
        </article>
        <article class="feature right">
          <span class="image"><img src="images/pic02.jpg" alt="" /></span>
          <div class="content">
            <h2>Data Analytics</h2>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button alt">More</a>
              </li>
            </ul>
          </div>
        </article>
        <article class="feature left">
          <span class="image"><img src="images/pic01.jpg" alt="" /></span>
          <div class="content">
            <h2>Artificial Intelligence</h2>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <ul class="actions">
              <li>
                <a href="#" class="button alt">More</a>
              </li>
            </ul>
          </div>
        </article>
      </div>
    </section>

  <!-- Three -->
    <section id="three" class="wrapper style3 special">
      <div class="inner">
        <header class="major narrow	">
          <h2>Want to Build the Next Big Thing?</h2>
          <p>We're excited about the future. The internet is more connected than ever and we're here to help. We've built countless apps and analyzed troves of data. We're eager to get started on your innovative product!</p>
        </header>
      </div>
    </section>

  <!-- Four -->
  <a name="contact"></a>
    <section id="four" class="wrapper style2 special">
      <div class="inner">
        <header class="major narrow">
          <h2>Get in touch</h2>
          <p>Ipsum dolor tempus commodo adipiscing</p>
        </header>
        <form action="#" method="POST">
          <div class="container 75%">
            <div class="row uniform 50%">
              <div class="6u 12u$(xsmall)">
                <input name="name" placeholder="Name" type="text" />
              </div>
              <div class="6u$ 12u$(xsmall)">
                <input name="email" placeholder="Email" type="email" />
              </div>
              <div class="12u$">
                <textarea name="message" placeholder="Message" rows="4"></textarea>
              </div>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" class="special" value="Submit" /></li>
            <li><input type="reset" class="alt" value="Reset" /></li>
          </ul>
        </form>
      </div>
    </section>

  <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li><a href="#" class="icon fa-github">
            <span class="label">Github</span>
          </a></li>
          <li><a href="#" class="icon fa-facebook">
            <span class="label">Facebook</span>
          </a></li>
          <li><a href="#" class="icon fa-twitter">
            <span class="label">Twitter</span>
          </a></li>
          <li><a href="#" class="icon fa-linkedin">
            <span class="label">LinkedIn</span>
          </a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; Untitled.</li>
          <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
          <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
        </ul>
      </div>
    </footer>

  <!-- Scripts -->
  </body>
</html>
